[SddmGreeterTheme]
Name=Elegant Arch Linux
Description=An elegant SDDM theme for Arch Linux.
License=CC-BY-SA
Type=sddm-theme
Version=1.0
Screenshot=screenshot.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=elegant-archlinux
Theme-API=2.0
